html,
body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: rgba(black, 0.5);
  user-select: none;
  cursor: default;
}
